[user]
	name = Gabriel Soares Martins
	email = gmartins@padtec.com.br
[color]
	diff = always
	branch = always
	interactive = always
	ui = true
	pager = true
	status = always
[push]
	default = matching
[branch]
	autosetuprebase = always
[credential]
	helper = store
[credential "https://git.padtec.com.br"]
	username = gmartins
[merge]
	tool = meld
	conflictstyle = diff3
[core]
	editor = vim
	excludesfile = /home/gmartins/.gitignore_global
[diff]
	tool = meld
[difftool]
	prompt = false
[url "ssh://gmartins@git.padtec.com.br/l/disk0/git/repos/"]
	insteadOf = https://gmartins@git.padtec.com.br/r/
[url "https://gmartins@git.padtec.com.br/r/"]
	pushInsteadOf = https://gmartins@git.padtec.com.br/r/
