!----------- color scheme -----------

! D_* : dark / low-intensity (normal) colors
! L_* : light / high-intensity (bold = bright foreground, blink = bright background) colours.

! Tango color scheme
#define D_black       #2e3436
#define L_black       #555753
#define D_red         #cc0000
#define L_red         #ef2929
#define D_green       #4e9a06
#define L_green       #8ae234
#define D_yellow      #c4a000
#define L_yellow      #fce94f
#define D_blue        #3465a4
#define L_blue        #729fcf
#define D_magenta     #75507b
#define L_magenta     #ad7fa8
#define D_cyan        #06989a
#define L_cyan        #34e2e2
#define D_white       #d3d7cf
#define L_white       #eeeeec

#define D_background  #202020
#define L_foreground  #d0d090
#define L_cursor      #60f080

!----------- urxvt -----------

! COLOR
URxvt*depth: 24
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7
!URxvt*underlineColor: yellow

URxvt*background:     D_background
URxvt*foreground:     L_foreground
URxvt*fading:         0
URxvt*fadeColor:      D_background
URxvt*cursorColor:    L_cursor
URxvt*pointerColorBackground: D_background
URxvt*pointerColorForeground: L_cursor

! black dark/light
URxvt*color0:         D_black
URxvt*color8:         L_black
! red dark/light
URxvt*color1:         D_red
URxvt*color9:         L_red
! green dark/light
URxvt*color2:         D_green
URxvt*color10:        L_green
! yellow dark/light
URxvt*color3:         D_yellow
URxvt*color11:        L_yellow
! blue dark/light
URxvt*color4:         D_blue
URxvt*color12:        L_blue
! magenta dark/light
URxvt*color5:         D_magenta
URxvt*color13:        L_magenta
! cyan dark/light
URxvt*color6:         D_cyan
URxvt*color14:        L_cyan
! white dark/light
URxvt*color7:         D_white
URxvt*color15:        L_white

! SCROLL
URxvt*scrollstyle: plain
URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*scrollKeypress: true
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*saveLines: 65535
URxvt*secondaryScroll: false
URxvt*buffered: true

! FONT
URxvt*font: xft:Ubuntu Mono:size=10
URxvt*italicFont: xft:Ubuntu Mono:italic:size=10
URxvt*boldItalicFont: xft:Ubuntu Mono:bold:italic:size=10
URxvt*boldFont: xft:Ubuntu Mono:bold:size=10

! EXTENSIONs
URxvt.perl-ext-common: default,selection-to-clipboard,font-size
URxvt.font-size.step: 1

! KEYBINDINGS
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease

! UNKNOWN
URxvt*letterSpace: -1
URxvt.mapAlert: true

!----------- x -----------

Xcursor.size: 16

Xft.autohint: false
Xft.hintstyle: hintfull
Xft.hinting: true
Xft.lcdfilter: lcddefault
Xft.dpi:120
Xft.antialias: true
Xft.rgba: rgb


